<footer class="footer text-muted drawer--dark">
  <div class="container">
    <span>© <%= Date.today.year %> Online Educator</span>
    <ul class="list-inline mb-0 float-right">
      <li class="list-inline-item mr-3"><%= link_to "Условия использования", terms_path %></li>
      <li class="list-inline-item mr-3"><%= link_to "Политика конфиденциальности", privacy_path %></li>
    </ul>
  </div>
</footer>
