<h1>Добро пожаловать в Online Educator!</h1>
<p class="lead">Данная обучающая платформа создана для поддержания процесса образования в период дистанционного обучения.<br> Для получения доступа зарегистрируйтесь, либо обратитесь к администрации.</p>
